<div class="input">
  <input
    class="input__text"
    name="{{ name }}"
    type="{{ type }}"
    placeholder="{{ placeholder }}"
    required="{{ required }}"
  />
  <label class="input__label">{{ label }}</label>
  <span class="input__error">{{ errorText }}</span>
</div>
