<li class="profile__item">
  <label class="profile__label">{{ label }}</label>
  <input
    class="profile__input"
    name="{{ name }}"
    type="{{ type }}"
    placeholder="{{ placeholder }}"
    required="{{ required }}"
    value="{{ value }}"
  />
</li>
